<% content_for :page_title do %>
<h2>Nuestros Shucos</h2>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    "super_shuco", media: "all",
  "data-turbolinks-track" => true %>
<% end %>



<ul class="shucos">
  <% @products.each do |product| %>
  <li class="shuco">
    <strong><%= product[:name] %></strong>
    <br />
    <%= product[:price] %>
  </li>
  <% end %>
</ul>
